<div id="project">
	<p id="notice"><%= notice %></p>
	<div id="project-header">
		<div id="project-title">
			<h1><%= @project.title %></h1>
			<h3><%= @project.sub_title %><h3>
		</div>
		<div id="project-menu">
			<ul>
				<li>Intro</li>
				<li>Challenges</li>
				<li>Rubric</li>
			</ul>
		</div>
	</div>
	
	<div id="tabs">
		<div id="intro">
			<h2>Project Intro</h2>
			<h4>Description</h4>
			<p><%= @project.description %></p>
			<h4>Prerequisite Knowledge and Skills</h4>
			<p><%= @project.prereqs %></p>
			<div id="intro-video">
				<iframe width="853" height="480" src="http://www.youtube.com/embed/LO1tGLdB9-Y" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div id="challenge-area">
			<div id="challenge-accordion">
				<div class="video">
					<iframe width="853" height="480" src="http://www.youtube.com/embed/LO1tGLdB9-Y" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="video">
					<iframe width="853" height="480" src="http://www.youtube.com/embed/LO1tGLdB9-Y" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="video">
					<iframe width="853" height="480" src="http://www.youtube.com/embed/LO1tGLdB9-Y" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div id="challenges-list">
		
			</div>
		</div>
		<div id="rubric">
			<div id="rubric-video">
		
			</div>
			<div id="rubric-table">
		
			</div>
		</div>
	</div>
</div>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
