<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Sub title:</b>
  <%= @project.sub_title %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Prereqs:</b>
  <%= @project.prereqs %>
</p>

<p>
  <b>Intro video:</b>
  <%= @project.intro_video %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
