<!DOCTYPE html>
<html>
<head>
  <title>SuperNaches</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head >
<body id=<%= controller.controller_name %>>
<div id="wrapper">
	<div id="top">
		<div id="logo">
			<h1 id="super_naches">Super Naches</h1>
		</div>
		<div id="menu">
			<ol>
				<li>Projects</li>
				<li>?</li>
				<li>Whatever</li>
				<li>Testing</li>
				<li>his seems like fun</li>
			</ol>	
		</div>
	</div>
	<div id="main">
		<%= yield %>
	</div>
	<div id="footer">
		&copy; cam
	</div>
</div>
</body>
</html>
